<router-outlet></router-outlet>
<!--
    <div class="border container" >
 <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="loginUser()" novalidate>
    <div class="row">
     <div class="logo col text-center"> <img src="assets\Logo_PI.png" alt="logo SEE" >
     
    </div>
    <div class="row">
      <div class="email form-group">
        <input type="email" class="form-control" id="email" placeholder="Email Adress" formControlName="login">
        
       
      </div>
       <span class="text-error">{{errorMessage}}</span>

    </div>
    <div class="row">
      <div class="email form-group">
        <input type="password" class="form-control" id="Password" placeholder="Password" formControlName="password">
      </div>
    </div>
    <div class="row">
     <button type="button" class="email btn btn-primary">
       <div class="T"><strong>Next</strong></div></button>
    </div>
    <div class="hrBar row">
      <div class="hr col"><hr class="HR"></div>
      <div class="or col-1">or</div>
      <div  class="hr col"><hr class="HR"></div>
    </div>
    <div class="row">
     <button type="button" class="signup btn btn-secondary">
       <div class="T signupT"><strong>Sign Up</strong></div> </button>
    </div>
  </form>
  </div>
  
-->